<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Large Lifting Model</title>
		<script>
			// Dynamically set the base path depending on the environment
			const isDev =
				location.hostname === "localhost" ||
				location.hostname === "127.0.0.1";
			window.BASE_PATH = isDev ? "" : "/frontend";
		</script>
		<link
			rel="icon"
			type="image/svg+xml"
			href="<%= window.BASE_PATH %>/vite.svg" />
	</head>
	<body>
		<div id="root"></div>
		<script type="module" src="<%= window.BASE_PATH %>/src/main.jsx"></script>
	</body>
</html>
